<div class="center jumbotron">
  <h1>Welcome, Toastmasters!</h1>

  <h2>
    This is the home page for the
    <a href="http://nltmc.toastmastersclubs.org">New Life Toastmaster Club</a>
    web application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div style="margin-bottom: -40px">
  <%= link_to 'Timer Tools', static_pages_test_path %><span class="add_margin"> |</span>
  <a href="http://nltmc.toastmastersclubs.org/Evenets.html">Announcements & Club Events</a><span class="add_margin"> |</span>
  <a href="http://nltmc.toastmastersclubs.org/Resources.html">Resources</a><span class="add_margin"> |</span>
  <%= link_to 'Gallery', static_pages_test_path %><span class="add_margin"> |</span>
  <a href="https://www.youtube.com/watch?v=H9kqTO4w1nE&list=PL2iAr7GE8QKnP2rKTCyEcjorNPpKKzJ53">Youtube</a><span class="add_margin"> |</span>
  <a href="https://www.facebook.com/nltmc/">Facebook</a><span class="add_margin"> |</span>
  <a href="http://nltmc.toastmastersclubs.org/My_Toastmaster_Story.html">Members' Stories</a><span class="add_margin"> |</span>
  <%= link_to 'Meet Masters of Toast', static_pages_test_path %>
</div>