<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>Roaster</p>
<p>president: Minnie</p>
<p>supporter: Marina</p>
<hr>
<h2>Developer Information</h2>
<a href="resume.pdf">My Resume(.pdf)</a>
<p>email: <b>mailtozeshi@gmail.com</b>&nbsp; or &nbsp;<b>zeshi_zheng@student.uml.edu</b></p>
<p>if you have any technical problem, click <%= link_to 'here', help_path %> please.</p>