<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>Admin Status Changes:</p>
<p>There are 3 administrators in the system, they possess the highest authority.
  There's no way assigning another admin on standard user interface due to security concerns.
  Admin also can't be delete.
  The only way to exchange admin status is:<br>
  - login admin account;<br>
  - update admin's whole old profile (including email) to the new person's;<br>
  - s/he then use the account as an admin.
</p>
<hr>

<p>feedback: <b>zeshidevelop@gmail.com</b></p>