<form id="lol" action="" method="get">
  <div class="input-group">
    <input type="text" name="gg" id="ggid" class="form-control" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2">@gmail.com</span>
  </div>
  <input type="submit">
</form>

<div>

</div>