<form id="lol" action="" method="get">
  <div class="input-group">
    <input type="text" name="gg" id="ggid" class="form-control" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2">@gmail.com</span>
  </div>
  <input type="submit">
</form>

<div>
  <p>This is a test page for <span class="red_color">something new</span>.</p>
  <p>For any reasons if you fall in this page, that means the function you just clicked <span class="red_color">hasn't finished</span> yet.</p>
</div>