<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <!-- Include jQuery Mobile stylesheets -->
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <!-- Include the jQuery library -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Include the jQuery Mobile library -->
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

  <style type="text/css">
      #stopwatch {
          margin: 80px auto;
          font-size: 7em;
          text-align: center;
      }

      #stop_sign {
          text-align: center;
          font-size: 8em;
      }

      .left_align {
          text-align: left;
      }

      .center_align {
          text-align: center;
      }

      .top_margin {
          margin-top: 60px;
      }

      .add_header_padding {
          padding: 3px;
      }

      .add_btn_padding {
          padding: 15px;
      }

      #time_now {
          position: absolute;
          bottom: 75px;
          right: 10px;
          text-shadow: none;
      }

      #show_info {
          position: absolute;
          bottom: 75px;
          text-shadow: none;
      }

      #main_bg {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: white;
      }

      .thick_border {
          border: solid 2px;
      }

  </style>

</head>

<body onload="startTime()">
<!--page stopwatch-->
<div data-role="page" id="page_watch">

  <div data-role="header" data-position="fixed" data-fullscreen="true">
    <a href="#myPanel" class="ui-btn ui-corner-all ui-icon-bullets ui-btn-icon-left">Catalog</a>

    <h1>Timer</h1>
    <a href="#page_report" class="ui-btn ui-corner-all ui-icon-clock ui-btn-icon-left" data-transition="slide">
      Records</a>
  </div>

  <div data-role="panel" id="myPanel">
    <h3>Navigator</h3>
    <a href="/" rel="external" class="ui-btn left_align ui-corner-all ui-icon-home ui-btn-icon-left">
      Homepage</a>
    <a href="#page_help" data-rel="dialog" class="ui-btn left_align ui-corner-all ui-icon-info ui-btn-icon-left" data-transition="pop">
      Help</a>
  </div>

  <div data-role="main" class="ui-content" id="main_bg">
    <div id="stopwatch">00:00</div>
    <div id="stop_sign"></div>
    <span id="show_info"></span>

    <div id="time_now"></div>
  </div>

  <div data-role="footer" data-position="fixed" data-fullscreen="true" class="center_align">

    <div data-role="controlgroup" data-type="horizontal">

      <button id="time_start" onclick="time_start()" class="ui-btn add_btn_padding thick_border">Start
      </button>
      <button id="time_pause" name="pause" onclick="time_pause()" disabled="disabled" class="ui-btn add_btn_padding thick_border">Pause
      </button>
      <button id="time_stop" onclick="time_stop()" disabled="disabled" class="ui-btn add_btn_padding thick_border">Stop & Record
      </button>

    </div>
  </div>

</div>

<!--page reports -->
<div data-role="page" id="page_report">
  <div data-role="header" data-position="fixed" data-fullscreen="true">
    <h1>Time Report</h1>
  </div>

  <div data-role="main" class="ui-content top_margin">
    <div data-role="collapsible" data-collapsed="false">
      <h1>Speeches</h1>
      <ul id="speeches"></ul>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h1>Table Topics</h1>
      <ul id="topics"></ul>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h1>Evaluations</h1>
      <ul id="evaluations"></ul>
    </div>
  </div>

  <div data-role="footer" data-position="fixed" data-fullscreen="true" class="center_align">
    <a href="#page_watch" class="ui-btn ui-icon-back ui-btn-icon-left ui-corner-all" data-transition="slide" data-direction="reverse">Back to Timer</a>
  </div>
</div>

<!--page help -->
<div data-role="page" id="page_help">
  <div data-role="header">
    <h1>Direction</h1>
  </div>

  <div data-role="main" class="ui-content">
    <ul>
      <li>Touch any spare room to make fullscreen;</li>
      <li>Click 'Start' to start stopwatch;</li>
      <li>The watch stops when you click 'Pause';</li>
      <li>Click 'Stop & Record' complete 1 entry;</li>
      <li>Click 'Records' enter time report page.</li>
    </ul>
  </div>

  <div data-role="footer">
    <h1>Have Fun</h1>
  </div>
</div>

</body>
</html>

<script>
    function time_pause() {
        var button_name = document.getElementById("time_pause").getAttribute('name');

        if (button_name == 'pause') {
            clearInterval(watch);
            clearInterval(s_color);
            clearInterval(r_color);
            document.getElementById("time_pause").setAttribute('name', 'continue');
            document.getElementById("time_pause").innerHTML = 'Continue';
        } else {
            watch = setInterval(stopwatch, 1000);
            s_color = setInterval(show_color, 1000);

            document.getElementById("time_pause").setAttribute('name', 'pause');
            document.getElementById("time_pause").innerHTML = "Pause";
        }

    }

    function time_stop() {
        document.getElementById("time_start").disabled = false;
        document.getElementById("time_stop").disabled = true;
        document.getElementById("time_pause").disabled = true;
        document.getElementById("time_pause").innerHTML = "Pause";

        clearInterval(s_color);
        clearInterval(r_color);
        clearInterval(watch);

        time_record();

        clear_watch();
    }

    function time_record() {
        var t = inspect_time();

        if (duration <= 120) {//table topics
            document.getElementById("topics").innerHTML += '<li>' + name + ': ' + t.m + ' m ' + t.s + ' s' + '</li>';
        } else if (duration == 180) {//evaluation
            document.getElementById("evaluations").innerHTML += '<li>' + name + ': ' + t.m + ' m ' + t.s + ' s' + '</li>';
        } else {//speeches
            document.getElementById("speeches").innerHTML += '<li>' + name + ': ' + t.m + ' m ' + t.s + ' s' + '</li>';
        }

        document.getElementById("show_info").innerHTML += '<br>Recorded!'
    }

    var name, duration, watch, r_color, s_color;
    function time_start() {
        var input = prompt("Who's the speaker & what's the maximum duration(minutes)?", "Marina Lam & 7");

        if (input) {
            document.getElementById("time_stop").disabled = false;
            document.getElementById("time_pause").disabled = false;
            document.getElementById("stop_sign").innerHTML = '';
            document.getElementById("stopwatch").style.fontSize = '7em';
            document.getElementById("main_bg").style.background = 'white';

            var arr = input.split('&');
            name = arr[0].trim();
            duration = parseInt(arr[1]) * 60;

            document.getElementById("show_info").innerHTML = name + '<br>max ' + arr[1] + ' min(s)';


            s_color = setInterval(show_color, 1000);

            watch = setInterval(stopwatch, 1000);
            document.getElementById("time_start").disabled = true;
        }
    }

    function show_color() {
        //345 456 567 2/230/3 1/130/2 gyr color
        var t = inspect_time();
        var remaining = duration - t.m * 60 - t.s;

        if (duration <= 180) {//max 2 or 3 mins
            if (remaining <= 60 && remaining > 30) {
                document.getElementById("main_bg").style.background = 'greenyellow';
            } else if (remaining <= 30 && remaining > 0) {
                document.getElementById("main_bg").style.background = 'yellow';
            } else if (remaining <= 0 && remaining > -30) {
                document.getElementById("main_bg").style.background = 'red';
            } else if (remaining <= -30) {
                clearInterval(r_color);
                r_color = setInterval(random_color, 100);
                document.getElementById("stop_sign").innerHTML = 'STOP';
                document.getElementById("stopwatch").style.fontSize = '4em';
            }
        } else {//max 5 or 7 mins
            if (remaining <= 120 && remaining > 60) {
                document.getElementById("main_bg").style.background = 'greenyellow';
            } else if (remaining <= 60 && remaining > 0) {
                document.getElementById("main_bg").style.background = 'yellow';
            } else if (remaining <= 0 && remaining > -30) {
                document.getElementById("main_bg").style.background = 'red';
            } else if (remaining <= -30) {
                clearInterval(r_color);
                r_color = setInterval(random_color, 100);
                document.getElementById("stop_sign").innerHTML = 'STOP';
                document.getElementById("stopwatch").style.fontSize = '4em';
            }
        }
    }

    color_array = ['red', 'yellow', 'blue', 'white', 'greenyellow', 'gold', 'yellowgreen', 'gray', 'brown', 'skyblue'];
    function random_color() {
        document.getElementById("main_bg").style.background = color_array[Math.floor(Math.random() * 10)];
    }

    function startTime() {
        var today = new Date();
        var date = today.toDateString();

        var h = today.getHours();
        var m = today.getMinutes();
        m = checkTime(m);
        document.getElementById('time_now').innerHTML = h + ":" + m + " " + date;
        setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    var add_sec = (function () {
        var s = 0, m = 0;
        return function (flag) {
            if (flag == 1) {
                s > 58 ? (s = 0, m += 1) : s += 1;
            } else if (flag == 0) {//clear watch
                s = 0;
                m = 0;
            }

            return {s: s, m: m};
        };
    })();

    function inspect_time() {
        return add_sec(2);
    }

    function clear_watch() {
        return add_sec(0);
    }

    function stopwatch() {
        var m_and_s = add_sec(1);

        var s = m_and_s.s;
        s = checkTime(s);
        var m = m_and_s.m;
        m = checkTime(m);
        document.getElementById("stopwatch").innerHTML = m + ":" + s;

        return m_and_s;
    }

</script>