<!DOCTYPE html>

<html>
<head>
</head>

<body onload="device_match()">
<!--this is used for deciding if relocate pc/mobile page-->

</body>
</html>

<script>
    function device_match(){
        //i means ignoreCase
        if (window.navigator.userAgent.match(/(iPhone|iPod|Android|ios|iOS|iPad|Backerry|WebOS|Symbian|Windows Phone|Phone)/i)) {
            location.replace("<%= timer_m_url %>");
        }else {
            location.replace("<%= timer_d_url %>");
        }
    }
</script>