<li>
  <%= gravatar_for user, size:50 %>
  <%= link_to user.name, user %>
  <% if (current_user.admin != 0) && !current_user?(user) %>
      <% if current_user.admin == 1 %>
          <span>|</span>
          <%= link_to 'GRANT', user, data: {confirm: 'Make it officer?'} %><!--TODO make officer-->
      <% end %>
      <span>|</span>
      <%= link_to 'DELETE', user, method: :delete, data: {confirm: 'This is an irreversible operation, are you sure?'} %>
  <% end %>
</li>
