<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:must_fill_star, '') %>

<h1>Update Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change avatar</a>
    </div>

    <h2><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Leave the form alone has no change</h2>
    <%= render 'form' %>

    <br><hr>
    <%= link_to 'CANCEL MY ACCOUNT', @user, method: :delete,
                data: {confirm: 'This is an irreversible operation and all your data will be delete, are you sure?'} %>
  </div>
</div>