
<%= link_to gravatar_for(object, size: yield(:photo_size)), object %>
<b><i><%= object.name %></i></b><br>
<span class="red_color"><%= object.admin_description %></span><br>
<%= link_to pluralize(object.microposts.count, 'micropost'), object %><br>