<% provide :title, 'All Agendas' %>

<h1>All Agendas</h1>

<% if current_user.admin > 0 %>
    <div class="float_right">
      <span class="glyphicon glyphicon-plus-sign"></span> <%= link_to 'Create a new agenda', new_tempagenda_path %>
    </div>
<% end %>

<br><br>

<%= will_paginate %>

<ul class="new_list">
    <%= render @tempagendas %>
</ul>

<%= will_paginate %>
