// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .timestamp {
    color: $gray-light;
    display: block;
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
    resize: none;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.user_comments {
  clear: both;
}