// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  clear: left;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .long_word_cut {
    word-wrap: break-word;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
    resize: none;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.user_comments {
  clear: both;
}