// Place all the styles related to the tempagendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* agenda */
.all_inline {
  display: inline;
  width: 30%;
}

.float_right {
  float: right;
}

.change_pointer {
  cursor: pointer;
}

.add_margin {
  margin: 0 8px;
}

.clear_both {
  clear: both;
}