<footer class="footer">
  <address>
    <small>
      <strong>Address:</strong>
      197 Littleton Road,
      Chelmsford, MA 01824
    </small>
  </address>
  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="http://www.cs.uml.edu/~zzheng/">News</a></li>
      <li><%= link_to 'Swith to old version', 'http://nltmc.toastmastersclubs.org',
                      class: 'btn btn-info btn-xs', role: 'button',
                      data: {confirm: "Wouldn't you really consider to use the old website, would you?"} %></li>
    </ul>
  </nav>
</footer>