<footer class="footer">
  <address>
    <small>
      <strong>Address:</strong>
      197 Littleton Road,
      Chelmsford, MA 01824
    </small>
  </address>
  <nav>
    <ul>
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="http://www.cs.uml.edu/~zzheng/">News</a></li>
      <li><a href="http://nltmc.toastmastersclubs.org">Old Version</a></li>
    </ul>
  </nav>
</footer>